<style>
    .sb-nav-link-icon {
        width: 24px;
        height: 24px;
        font-size: 1.25rem;
    }

    a.nav-link {
        text-decoration: none !important;
    }

    .nav a.nav-link {
        margin-bottom: 2px;
    }

    .nav-item {
        border-bottom: 1px solid #ddd;
    }

        .nav-item:not(:last-child) {
            border-bottom: none;
        }

    .nav-link {
        padding: 10px 20px;
    }

        .nav-link:hover {
            background-color: #808080 !important;
        }

    .sb-sidenav-menu-heading {
        padding: 10px 20px;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #fff;
        opacity: 0.6;
        margin-bottom: 10px;
    }

    .nav-item > a.nav-link:before {
        display: none;
    }

    .sb-sidenav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .sb-footer-username {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 5px;
    }

    .sb-footer-icons {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .sb-footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: rgba(33, 37, 41, 0.5);
        color: #fff;
        font-size: 1.1rem;
        transition: all 0.3s ease;
    }

        .sb-footer-icon:hover {
            background-color: rgba(33, 37, 41, 0.8);
            transform: scale(1.1);
        }

    .dropdown-menu {
        background-color: #ff0000;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }

    .dropdown-item {
        color: #212529;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
    }
</style>

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: rgb(25,37,60) ">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading"><i class="fas fa-list"></i> Listados</div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Residencia")">
                    <i class="fas fa-home mr-2"></i>
                    <span style="margin-left: 10px;">Residencias</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "EstadosCuenta")">
                    <span class="ml-2"><i class="fas fa-money-check-alt"></i>&nbsp;&nbsp;Estados de cuenta</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "PlanCobro")">
                    <i class="fas fa-money-bill-wave mr-2"></i>
                    <span style="margin-left: 10px;">Plan de cobro</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "RubrosCobros")">
                    <i class="fas fa-credit-card mr-2"></i>
                    <span style="margin-left: 10px;">Rubros de cobros</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("DeudasVigentes", "EstadosCuenta")">
                    <i class="fas fa-hand-holding-usd me-1"></i>
                    <span class="ms-1">Deudas vigentes</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("HistorialPagos", "EstadosCuenta")">
                    <i class="far fa-calendar-check me-2"></i>
                    <span>Historial de pagos</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Incidencia")">
                    <i class="fas fa-exclamation-triangle me-2"></i>
                    <span>Incidencias</span>
                </a>
            </div>
            <div class="sb-sidenav-menu-heading mt-3"><i class="fas fa-key"></i> Mantenimientos</div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="ml-2"><i class="fas fa-cogs"></i> Mantenimientos</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #f5a442; border: none;">
                    <a class="dropdown-item" href="@Url.Action("IndexAdmin","PlanCobro")" style="color: white;  "><i class="fas fa-file-invoice-dollar me-2"></i> Plan de Cobro</a>
                    <a class="dropdown-item" href="@Url.Action("IndexAdmin","RubrosCobros")" style="color: white;"><i class="fas fa-coins me-2"></i> Rubros de cobros</a>
                    <a class="dropdown-item" href="@Url.Action("IndexAdmin","Noticias")" style="color: white;"><i class="fas fa-newspaper me-2"></i> Noticias | Información</a>
                    <a class="dropdown-item" href="@Url.Action("IndexAdmin","Incidencia")" style="color: white;"><i class="fas fa-exclamation-triangle me-2"></i> Incidencias </a>
                    <a class="dropdown-item" href="@Url.Action("IndexAdmin","Usuario")" style="color: white;"><i class="fas fa-exclamation-triangle me-2"></i> Residentes </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        @if (Session["User"] == null)
        {
            <dvi>
                <a class="nav-link" href="@Url.Action("Index","Login")">
                    <i class="fas fa-user"></i>
                    <span style="margin-left: 10px;"> Logout </span>
                </a>
            </dvi>
        }
        else
        {
            <dvi>
                <a class="nav-link" href="@Url.Action("Logout","Login")">
                    <i class="fas fa-sign-out-alt"></i>
                    <span style="margin-left: 10px;"> Logout </span>
                </a>
            </dvi>
        }
        <div class="sb-sidenav-footer" style="background-color: rgb(25,37,60)">
            <span class="small">Logged in as:</span>
            <span class="sb-footer-username">Projecto Condominios</span>
            <div class="sb-footer-icons">
                <a href="#" class="sb-footer-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="sb-footer-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="sb-footer-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</nav>