@model Infraestructure.Model.PLAN_COBRO

@{
    ViewBag.Title = "Create";
}


<div id="myModal" class="modal"></div>


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-9">
            <h2 class="text-center mb-4">Crear Plan de cobro</h2>
            @using (Html.BeginForm("Save", "PlanCobro", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row g-3" }))
            {
                @Html.AntiForgeryToken()
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body col-md-12">
                                <div class="row">
                                    @*<div class="form-group">
                                        <label for="@Html.IdFor(model => model.ID_COBRO_PLAN)">
                                            <i class="fas fa-info-circle" style="color: rgb(39, 58, 93);"></i> Plan de cobro:
                                        </label>
                                        @Html.EditorFor(model => model.ID_COBRO_PLAN, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ID_COBRO_PLAN, "", new { @class = "text-danger" })
                                    </div>*@

                                    <div class="form-group">
                                        <label style="color: rgb(39, 58, 93); font-size: 16px;"><i class="fas fa-tags" style="color: rgb(39, 58, 93);"></i> Rubros de Cobro</label>
                                        @Html.DropDownList("selectRubrosCobros", (MultiSelectList)ViewBag.idRubroCobro, new { @class = "form-control", multiple = "multiple" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="@Html.IdFor(model => model.NOMBRE)">
                                        <i class="fas fa-info-circle" style="color: rgb(39, 58, 93);"></i> Descripción:
                                    </label>
                                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="@Html.IdFor(model => model.DESCRIPCION)">
                                        <i class="fas fa-info-circle" style="color: rgb(39, 58, 93);"></i> Descripción:
                                    </label>
                                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                                </div>

                               


                            </div>
                                    <div class="form-group text-center mt-3">
                                        <div class="btn-group" role="group">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Crear</button>
                                            <a href="@Url.Action("IndexAdmin", "PlanCobro")" class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
            }
        </div>
    </div>
</div>
