@model Infraestructure.Model.GESTION_PLANES_COBRO

@{
    ViewBag.Title = "Details";
}

<div style="padding: 20px;">
    <h4 style="margin-bottom: 20px;">Gestion de Planes de cobro</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="accordion" id="accordionExample1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" style="background-color: #F2F2F2; color: #444;">
                            <i class="fas fa-user"></i> Información del usuario 1
                        </button>
                    </h2>
                    <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                <p><i class="fas fa-id-card"></i> ID de usuario: @Html.DisplayFor(model => model.USUARIO.ID_USUARIO)</p>
                                <p><i class="fas fa-user"></i> Nombre completo: @Html.DisplayFor(model => model.USUARIO.NOMBRE) @Html.DisplayFor(model => model.USUARIO.APELLIDO)</p>
                                <p><i class="fas fa-envelope"></i> Correo electrónico: @Html.DisplayFor(model => model.USUARIO.CORREO)</p>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="accordion" id="accordionExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2" style="background-color: #F2F2F2; color: #444;">
                            <i class="fas fa-calendar-alt"></i> Información del plan de cobro 2
                        </button>
                    </h2>
                    <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <dl class="dl-horizontal">
                                @*<p style="margin-bottom: 5px;"><i class="fas fa-calendar-alt"></i> Fecha de inicio: <span style="font-weight: bold;">@Html.DisplayFor(model => model.FECHA_INICIO)</span></p>
        <p style="margin-bottom: 5px;"><i class="fas fa-calendar-alt"></i> Fecha de fin: <span style="font-weight: bold;">@Html.DisplayFor(model => model.FECHA_FIN)</span></p>*@
                                <p style="margin-bottom: 0;">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span style="font-weight: bold;">Total a pagar por:</span>
                                    <span style="font-weight: normal;"> @Html.DisplayNameFor(model => model.RUBRO_COBRO)</span>
                                </p>

                                <ul style="list-style: none; margin: 0; padding: 0;">
                                    @{
                                        decimal suma = 0;
                                        int estado = 1;
                                        foreach (var r in Model.RUBRO_COBRO)
                                        {
                                            suma += r.MONTO ?? 0m;
                                            if (Model.ID_ESTADO_DEUDA != 1)
                                            { 
                                                estado = 2;
                                            }
                                            <li style="margin-bottom: 5px;">
                                                <i class="fas fa-check-circle" style="color: #4CAF50;"></i>
                                                <span style="margin-left: 5px;">@r.NOMBRE_RUBRO</span>
                                            </li>
                                        }
                                    }
                                </ul>

                                @if (estado == 1)
                                { 
                                    <p style="margin-top: 10px;">
                                        <span style="font-weight: bold;">Total a pagar:</span>
                                        <span style="font-weight: normal;"> $@suma</span>
                                    </p>
                                }

                                @*<ul style="list-style: none; margin: 0; padding: 0;">
            @{
                decimal suma = 0;
                int estado = 1;
                foreach (var r in Model.RUBRO_COBRO)
                {
                    suma += r.MONTO ?? 0m;
                    <li style="margin-bottom: 5px;">
                        <i class="fas fa-check-circle" style="color: #4CAF50;"></i>
                        <span style="margin-left: 5px;">@r.NOMBRE_RUBRO</span>
                    </li>
                }
            }
        </ul>


        <p style="margin-top: 10px;">
            <span style="font-weight: bold;">Total a pagar:</span>
            <span style="font-weight: normal;"> $@suma</span>
        </p>*@

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
