@model Infraestructure.Model.GESTION_PLANES_COBRO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Save", "PlanCobro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>GESTION_PLANES_COBRO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_PLAN_COBRO)

    <div class="form-group mb-4 position-relative d-flex align-items-center" style="padding-right: 30px;" data-toggle="modal" data-target="#exampleModal">
        <label for="ID_USUARIO" style="color: rgb(39, 58, 93)">
            <i class="fas fa-plus-square" style="margin-right: 5px"></i> Tipo de Noticia
        </label>
        @Html.DropDownListFor(model => model.ID_USUARIO, null, htmlAttributes: new { @class = "form-control" })
        <a href="#" class="d-flex align-items-center justify-content-center position-absolute end-0 top-50 translate-middle-y text-success" style="right: -20px; margin-bottom: 3px; width: 30px; height: 30px; border-radius: 50%;" onclick="mostrarAdvertencia()">
            <span style="font-size: 1.2rem;">  <strong>+</strong></span>
        </a>
    </div>

    <div class="form-group mb-4 position-relative d-flex align-items-center" style="padding-right: 30px;" data-toggle="modal" data-target="#exampleModal">
        <label for="ID_ESTADO_DEUDA" style="color: rgb(39, 58, 93)">
            <i class="fas fa-plus-square" style="margin-right: 5px"></i> Tipo de Noticia
        </label>
        @Html.DropDownListFor(model => model.ID_ESTADO_DEUDA, null, htmlAttributes: new { @class = "form-control" })
        <a href="#" class="d-flex align-items-center justify-content-center position-absolute end-0 top-50 translate-middle-y text-success" style="right: -20px; margin-bottom: 3px; width: 30px; height: 30px; border-radius: 50%;" onclick="mostrarAdvertencia()">
            <span style="font-size: 1.2rem;">  <strong>+</strong></span>
        </a>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RUBRO_COBRO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("selectRubrosCobros",
           (MultiSelectList)ViewBag.ID_RUBRO_COBRO,
           htmlAttributes: new { @class = "form-control", multiple = "multiple" })

        </div>
    </div>

    <div class="form-group mb-4">
        <label for="NOMBRE_PLAN" class="control-label">
            <i class="fas fa-heading" style="color: rgb(39, 58, 93);"></i>
            Título:
        </label>
        @Html.EditorFor(model => model.NOMBRE_PLAN, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NOMBRE_PLAN, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-4">
        <label for="DESCRIPCION" class="control-label">
            <i class="fas fa-heading" style="color: rgb(39, 58, 93);"></i>
            Título:
        </label>
        @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-4">
        <label for="FECHA_INICIO" style="color: rgb(39, 58, 93)">
            <i class="fas fa-calendar-alt"></i> Fecha de Publicación
        </label>
        @Html.EditorFor(model => model.FECHA_INICIO, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FECHA_INICIO, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-4">
        <label for="FECHA_FIN" style="color: rgb(39, 58, 93)">
            <i class="fas fa-calendar-alt"></i> Fecha de Publicación
        </label>
        @Html.EditorFor(model => model.FECHA_FIN, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FECHA_FIN, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.TOTAL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TOTAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TOTAL, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary mr-2">Guardar</button>
        <a href="@Url.Action("IndexAdmin", "Incidencia")" class="btn btn-danger">Cancelar</a>
    </div>
</div>
}

