@model IEnumerable<Infraestructure.Model.GESTION_PLANES_COBRO>

@{
    ViewBag.Title = "Planes de Cobro";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mb-4">Planes de Cobro</h2>
            <div class="input-group mb-3">
                @Html.TextBox("filtro", "", new { @class = "form-control", placeholder = "Buscar por nombre de usuario..." })
                <button type="button" id="btnBuscar" class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Monto</th>
                            <th>Estado</th>
                            <th class="text-right">
                                <a href="@Url.Action("Create", "PlanCobro")" class="btn btn-success"><i class="fas fa-plus"></i></a>
                            </th>
                        </tr>
                    </thead>

                    <tbody id="tableBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)</td>
                                <td>@Html.DisplayFor(modelItem => item.TOTAL)</td>
                                <td>@Html.DisplayFor(modelItem => item.ESTADO_DEUDA.NOMBRE_ESTADO_DEUDA)</td>
                                <td>
                                    <a href="@Url.Action("Edit", "PlanCobro", new { id = item.ID_PLAN_COBRO })" class="btn btn-primary btn-sm mx-1"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="@Url.Action("Details", "PlanCobro", new { id = item.ID_PLAN_COBRO })" class="btn btn-info btn-sm mx-1"><i class="fas fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "PlanCobro", new { id = item.ID_PLAN_COBRO })" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>