@model IEnumerable<Infraestructure.Model.NOTICIA>

@{
    ViewBag.Title = "Index";
}

<h2 class="news-title">Flash informativo</h2>

<style>
    .news-title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 0;
        padding-bottom: 5px;
        border-bottom: 2px solid #333;
    }

    .carousel-header {
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        padding: 10px;
    }

    .carousel-control-prev, .carousel-control-next {
        height: 100%;
        width: auto;
        margin: 0;
        color: #000;
        background-color: #f8f9fa;
        border: none;
        font-size: 2rem;
    }

    .carousel-control-prev {
        left: auto;
        right: 40px;
    }

    .carousel-control-next {
        right: 20px;
    }

    a.carousel-control-next:hover, a.carousel-control-prev:hover {
        color: rgb(39, 58, 93);
    }

    .carousel-item {
        height: 300px;
    }

    .card {
        height: 100%;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .card-header {
        background-color: rgb(39, 58, 93);
        color: #fff;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .text-muted {
        color: #ccc;
    }

    .carousel-indicators li {
        background-color: rgb(39, 58, 93);
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    .carousel-indicators .active {
        background-color: cornflowerblue;
    }

    .carousel-inner {
        border: 1px solid #ccc;
    }

    .card {
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .card-header {
        background-color: rgb(39, 58, 93);
        color: #fff;
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .text-muted {
        color: #ccc;
    }
</style>

<div id="noticiasCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li data-target="#noticiasCarousel" data-slide-to="@i" @(i == 0 ? "class='active'" : "")></li>
        }
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item @(item == Model.First() ? "active" : "")">
                <div class="card mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white" style="">
                        <span class="font-weight-bold">@Html.DisplayFor(modelItem => item.TIPO_NOTICIA.TIPO_NOTICIA_INFO)</span>
                        <div class="carousel-header">
                            <a class="carousel-control-prev mr-3" href="#noticiasCarousel" role="button" data-slide="prev">
                                <span class="fas fa-chevron-left"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#noticiasCarousel" role="button" data-slide="next">
                                <span class="fas fa-chevron-right"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">@Html.DisplayFor(modelItem => item.TITULO)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CONTENIDO)</p>
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.FECHA_PUBLICACION)</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    @foreach (var item in Model.OrderBy(x => Guid.NewGuid()).Take(3))
    {
        <div class="col-md-4 mb-5">
            <div class="card mt-4">
                <div class="card-header">@Html.DisplayFor(modelItem => item.TIPO_NOTICIA.TIPO_NOTICIA_INFO)</div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@Html.DisplayFor(modelItem => item.TITULO)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.CONTENIDO)</p>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.FECHA_PUBLICACION)</small></p>
                </div>
            </div>
        </div>
    }
</div>
