@model IEnumerable<Infraestructure.Model.GESTION_DEUDA>

<style>
    i {
        margin-right: 5px;
    }
</style>

<h2>Deudas vigentes</h2>

<div class="row">
    @foreach (var deuda in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(deuda.MES) @deuda.ANIO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@deuda.RESIDENCIA.GESTION_DEUDA</h6>
                    <p class="card-text">@Html.Raw("<i class=\"fas fa-money-bill\"></i>") Total a pagar: @(deuda.TOTALPAGAR.HasValue ? deuda.TOTALPAGAR.Value.ToString("C2") : "")</p>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-@deuda.ID_GESTION_DEUDA">Ver más</button>
                    </td>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-@deuda.ID_GESTION_DEUDA" tabindex="-1" role="dialog" aria-labelledby="modal-@deuda.ID_GESTION_DEUDA-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-@deuda.ID_GESTION_DEUDA-label"><i class="fas fa-info-circle mr-2"></i>Información detallada de la deuda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- Columna de información del usuario -->
                            <div class="col-md-4 mb-3">
                                <h6><i class="fas fa-user mr-2"></i>Información del usuario</h6>
                                <p><i class="fas fa-user-circle mr-2"></i>Nombre: @deuda.RESIDENCIA.USUARIO.NOMBRE</p>
                                <p><i class="fas fa-user-circle mr-2"></i>Apellido: @deuda.RESIDENCIA.USUARIO.APELLIDO</p>
                                <p><i class="fas fa-envelope mr-2"></i>Correo: @deuda.RESIDENCIA.USUARIO.CORREO</p>
                            </div>
                            <!-- Columna de información de la residencia -->
                            <div class="col-md-4 mb-3">
                                <h6><i class="fas fa-home mr-2"></i>Información de la residencia</h6>
                                <p><i class="fas fa-hashtag mr-2"></i>Número residencia: @deuda.RESIDENCIA.NUMERO_RESIDENCIA</p>
                                <p><i class="fas fa-users mr-2"></i>Personas: @deuda.RESIDENCIA.CANTIDAD_PERSONAS</p>
                                <p><i class="fas fa-car mr-2"></i>Carros: @deuda.RESIDENCIA.CANTIDAD_CARROS</p>
                            </div>
                            <!-- Columna de información de la deuda -->
                            <div class="col-sm-4 mb-3">
                                <h6><i class="fas fa-money-bill-wave mr-2"></i>Información de la deuda</h6>
                                <p><strong><i class="fas fa-dollar-sign mr-2"></i>Total a pagar:</strong> @(deuda.TOTALPAGAR.HasValue ? deuda.TOTALPAGAR.Value.ToString("C2") : "")</p>
                                <p><strong><i class="fas fa-info-circle mr-2"></i>Estado:</strong> @deuda.ESTADO_DEUDA.NOMBRE_ESTADO_DEUDA</p>
                                <p><strong><i class="fas fa-info-circle mr-2"></i>x:</strong> 
                                @deuda.PLAN_COBRO.NOMBRE_PLAN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

