@model IEnumerable<Infraestructure.Model.GESTION_DEUDA>

@{
    ViewBag.Title = "Deudas";
}

<div class="container">
    <h2>Deudas</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-file-invoice-dollar"></i> Deuda # @item.ID_GESTION_DEUDA</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="fas fa-building"></i> Condominio: @Html.DisplayFor(modelItem => item.RESIDENCIA.ID_RESIDENCIA)
                        </p>
                        <p class="card-text"><i class="fas fa-user"></i> Residente: @Html.DisplayFor(modelItem => item.RESIDENCIA.USUARIO.FULLNAME)</p>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detallesModal-@item.ID_GESTION_DEUDA">
                            <i class="fas fa-info-circle"></i> Mostrar más detalles
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal para mostrar detalles de la deuda -->
            <div class="modal fade" id="detallesModal-@item.ID_GESTION_DEUDA" tabindex="-1" role="dialog" aria-labelledby="detallesModalLabel-@item.ID_GESTION_DEUDA" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detallesModalLabel-@item.ID_GESTION_DEUDA"><i class="fas fa-file-invoice-dollar"></i> Detalles de la deuda # @item.ID_GESTION_DEUDA</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <i class="fas fa-building"></i> Residencia: @Html.DisplayFor(modelItem => item.RESIDENCIA.ID_RESIDENCIA)
                            </p>
                            <p><i class="fas fa-money-bill"></i> Monto: @item.MONTO</p>
                            <p><i class="far fa-calendar-alt"></i> Fecha de vencimiento: @item.FECHA_VENCIMIENTO.ToString("dd/MM/yyyy")</p>
                            <p><i class="fas fa-chart-line"></i> Estado de la deuda: @item.ESTADO_DEUDA.NOMBRE_ESTADO_DEUDA</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
                            <a href="@Url.Action("Details", new { id = item.ID_GESTION_DEUDA })" class="btn btn-primary">
                                <i class="fa fa-info-circle"></i> Ver detalles completos
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
