@model IEnumerable<Infraestructure.Model.RESIDENCIA>

@{
    ViewBag.Title = "Listado de residencias";
}

<style>
    .titulo-pagina {
        text-align: center;
        font-size: 2rem;
        color: #336699;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<h1 class="titulo-pagina">@ViewBag.Title</h1>

<style>
    .card {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 1rem;
    }

    .btn-detalle {
        margin: 1rem;
    }

    .container-tarjetas {
        margin-top: 20px;
    }

    /* Estilos para el modal */
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        background-color: #336699;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .modal-title {
        font-size: 1.5rem;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>

<!-- Lista de residencias -->
<div class="container-tarjetas d-flex justify-content-center flex-wrap">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.USUARIO.FULLNAME</h5>
                    <p class="card-text">Número de residencia: @item.NUMERO_RESIDENCIA</p>
                    <p class="card-text">Cantidad de personas: @item.CANTIDAD_PERSONAS</p>
                    <p class="card-text">Año de inicio: @item.ANIO_INICIO</p>
                    <p class="card-text">Cantidad de carros: @item.CANTIDAD_CARROS</p>
                    <button type="button" class="btn btn-primary btn-detalle" data-toggle="modal" data-target="#modalDetalle_@item.ID_RESIDENCIA"><i class="fa-solid fa-circle-info"></i> Vista Previa</button>
                    <a href="@Url.Action("Details", "Residencia", new { id = item.ID_RESIDENCIA })" class="btn btn-success"><i class="fa-solid fa-circle-info"></i> Detalles</a>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalDetalle_@item.ID_RESIDENCIA" tabindex="-1" role="dialog" aria-labelledby="modalDetalleLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="modalDetalleLabel">@item.USUARIO.FULLNAME - @item.USUARIO.CORREO</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="position:absolute; top: 10px; right: 10px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Número de residencia: @item.NUMERO_RESIDENCIA</p>
                        <p>Cantidad de personas: @item.CANTIDAD_PERSONAS</p>
                        <p>Año de inicio: @item.ANIO_INICIO</p>
                        <p>Cantidad de carros: @item.CANTIDAD_CARROS</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>