@model Infraestructure.Model.RESERVA_AREA_COMUN

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Save", "ReservacionAreasComunes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-8 offset-md-2" }))
{
    @Html.AntiForgeryToken()

<div class="card-deck">
    @foreach (var areaComun in ViewBag.idAreaComun)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@areaComun.Text</h5>
                <p class="card-text">@areaComun.Value</p>
                <a href="#" class="btn btn-primary reservar" data-id="@areaComun.Value">Reservar</a>
            </div>
        </div>
    }
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4"><i class="fas fa-newspaper"></i> Crear Una Reserva</h4>
                        <div class="form-group">
                            <label for="ID_USUARIO" class="form-label"><i class="fas fa-newspaper"></i> Usuario </label>
                            <input type="text" class="form-control" id="nombreUsuario" readonly>
                        </div>
                        <div class="form-group">
                            <label for="ID_AREA_COMUN" class="form-label"><i class="fas fa-newspaper"></i> Área Común </label>
                            <div>
                                @Html.DropDownListFor(model => model.ID_AREA_COMUN,
                                    (SelectList)ViewBag.idAreaComun,
                                    "Seleccione el Área Común a Reservar",
                                    htmlAttributes: new { @class = "form-control", @id = "area-comun-dropdown" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ID_ESTADO_RESERVACION" class="form-label"><i class="fas fa-newspaper"></i> Estado </label>
                            <div>
                                @Html.DropDownListFor(model => model.ID_ESTADO_RESERVACION,
                                    (SelectList)ViewBag.idEstadoReservacion,
                                    "Seleccione el Estado de la Reservación",
                                    htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="COMENTARIOS">
                                <i class="fas fa-pencil-alt"></i> Comentarios
                            </label>
                            <div>
                                @Html.EditorFor(model => model.COMENTARIOS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.COMENTARIOS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h5><i class="fas fa-calendar"></i> @Html.LabelFor(model => model.FECHA_RESERVA, "Fecha Reserva", htmlAttributes: new { @class = "form-label" })</h5>
                            <div class="position-relative">
                                @Html.EditorFor(model => model.FECHA_RESERVA, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                <span class="position-absolute top-50 translate-middle-y end-0 me-2" onclick="$(this).prev().focus();"><i class="fas fa-calendar text-muted"></i></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.FECHA_RESERVA, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group text-center">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Crear</button>
                                <a href="@Url.Action("IndexAdmin", "ReservacionAreasComunes")" class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {    @Scripts.Render("~/bundles/jqueryval")

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script>
    $(() => {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            showAnim: "slideDown",
            theme: "base",
            themeRoller: {
                primary: "#333333",
                secondary: "#F5F5F5",
                text: "#333333",
                hover: "#F5F5F5",
                active: "#CCCCCC"
            }
        });
    });

    toggleCalendar = () => {
        var calendar = document.getElementById("calendar");
        if (calendar.style.display === "none") {
            calendar.style.display = "block";
        } else {
            calendar.style.display = "none";
        }
    }

    $(document).mouseup((e) => {
        var container = $("#calendar");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        console.log("Botón Reservar fue clickeado");
        var botonesReserva = document.querySelectorAll(".reservar");
        botonesReserva.forEach(function (botonReserva) {
            botonReserva.addEventListener("click", function () {
                var idAreaComun = botonReserva.getAttribute("data-id");
                var dropDownList = document.getElementById("area-comun-dropdown");
                if (dropDownList !== null) {
                    var opciones = dropDownList.options;
                    for (var i = 0; i < opciones.length; i++) {
                        if (opciones[i].value === idAreaComun) {
                            opciones[i].selected = true;
                            break;
                        }
                    }
                }
            });
        });
    });
    window.onload = function () {
        var cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('usuario='))
            .split('=')[1];
        document.getElementById('nombreUsuario').value = cookieValue;
    }

</script>

}


