@model Infraestructure.Model.RUBRO_COBRO

@{
    ViewBag.Title = "Crear Rubro de Cobro";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Crear Rubro</h2>
            @using (Html.BeginForm("Save", "RubrosCobros", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
               
                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.NOMBRE_RUBRO, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="NOMBRE_RUBRO">Nombre Rubro</label>
                    <div class="invalid-feedback">
                        Por favor, ingrese un nombre de rubro.
                    </div>
                </div>

                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.MONTO, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="MONTO">Monto</label>
                    @Html.ValidationMessageFor(model => model.MONTO, "", new { @class = "text-danger" })


                </div>

                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="DESCRIPCION">Descripción</label>
                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })

                </div>
                <div>
                    <label for="image-file" class="form-label">Selecciona una imagen:</label>
                    <input type="file" id="image-file" name="ImageFile" class="form-control" required />
                    <div class="form-text">Formatos permitidos: JPG, PNG, GIF.</div>
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <a href="@Url.Action("IndexAdmin")" class="btn btn-secondary w-100">Regresar al listado</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary w-100">Crear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}