@model IEnumerable<Infraestructure.Model.RUBRO_COBRO>

@{
    ViewData["Title"] = "IndexAdmin";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mb-4">Rubros de Cobro</h2>
            <div class="input-group mb-3">
                @Html.TextBox("filtro", "", new { @class = "form-control", placeholder = "Buscar por nombre de rubro de cobro..." })
                <button type="button" id="btnBuscar" class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Monto</th>
                        <th>Descripción</th>
                        <th class="text-right">
                            <a href="@Url.Action("Create", "RubrosCobros")" class="btn btn-success"><i class="fas fa-plus"></i></a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID_RUBRO_COBRO)</td>
                            <td>@Html.DisplayFor(modelItem => item.NOMBRE_RUBRO)</td>
                            <td>@Html.DisplayFor(modelItem => item.MONTO)</td>
                            <td>@Html.DisplayFor(modelItem => item.DESCRIPCION)</td>
                            <td>
                                <div class="d-flex justify-content-center mb-2">

                                    <a href="@Url.Action("Edit", "RubrosCobros", new { id = item.ID_RUBRO_COBRO })" class="btn btn-primary btn-sm mx-1"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="@Url.Action("Details", "RubrosCobros", new { id = item.ID_RUBRO_COBRO })" class="btn btn-info btn-sm mx-1"><i class="fas fa-eye"></i></a>
                                    <a href="@Url.Action("Deleted", "RubrosCobros", new { id = item.ID_RUBRO_COBRO })" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>