@model IEnumerable<Infraestructure.Model.GESTION_PLANES_COBRO>

@{
    ViewBag.Title = "IndexAdmin";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Asignación Planes Cobros</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fas fa-plus-circle me-2"></i>Asignar Plan cobro
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Plan</th>
                <th>Descripcion</th>
                <th>N° Residencia</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th>Fecha Vencimiento</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NOMBRE_PLAN)</td>
                    <td>@Html.DisplayFor(modelItem => item.DESCRIPCION)</td>
                    <td>@Html.DisplayFor(modelItem => item.RESIDENCIA.NUMERO_RESIDENCIA)</td>
                    <td>@Html.DisplayFor(modelItem => item.ESTADO_DEUDA.NOMBRE_ESTADO_DEUDA)</td>
                    <td>@Html.DisplayFor(modelItem => item.FECHA_INICIO)</td>
                    <td>@Html.DisplayFor(modelItem => item.FECHA_FIN)</td>
                    <td>
                        <div class="d-flex justify-content-center mb-3">
                            <a href="@Url.Action("Edit", "Incidencia", new { id = item.ID_GESTION_PLANES_COBRO })" class="btn @(item.ID_ESTADO_DEUDA == 1 ? "btn-success" : "btn-warning") btn-sm">
                                <i class="fas @(item.ID_ESTADO_DEUDA == 1 ? "fa-check-circle" : "fa-undo-alt") me-2"></i>@(item.ID_ESTADO_DEUDA == 1 ? "Cerrar incidencia" : "Reabrir incidencia")
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

