@model IEnumerable<Infraestructure.Model.INCIDENCIA>

@{
    ViewBag.Title = "IndexAdmin";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mb-4">Incidencias</h2>
            <div class="input-group mb-3">
                @Html.TextBox("filtro", "", new { @class = "form-control", placeholder = "Buscar por tipo usuario" })
                <button type="button" id="btnBuscar" class="btn btn-secondary">
                    <i class=" fas fa-search"></i>
                </button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha Creación</th>
                        <th scope="col">Estado Incidencia</th>
                        <th scope="col">Usuario</th>
                        <th scope="col" class="text-right">
                            <a href="@Url.Action("Create","Incidencia")" class="btn btn-success"> <i class="fas fa-plus"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ID_INCIDENCIA</th>
                            <td>@item.DESCRIPCION </td>
                            <td>@item.FECHA_CREACION</td>
                            <td>@item.ESTADO_INCIDENCIA.DESCRIPCION_ESTADO_INCIDENCIA</td>
                            <td>@item.USUARIO.NOMBRE</td>
                            <td>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="@Url.Action("Edit", "Incidencia", new { id = item.ID_INCIDENCIA })" class="btn btn-primary btn-sm mx-1"><i class="fas fa-pencil-alt"></i> </a>
                                    <a href="@Url.Action("Details", "Incidencia", new { id = item.ID_INCIDENCIA})" class="btn-info btn-sm mx-1"><i class="fas fa-eye"></i> </a>
                                    <a href="@Url.Action("Delete", "Incidencia", new { id = item.ID_INCIDENCIA })" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i> </a>
                                </div>
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

