@model IEnumerable<Infraestructure.Model.INCIDENCIA>

@{
    ViewBag.Title = "IndexAdmin";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Incidencias</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fas fa-plus-circle me-2"></i>Crear incidencia
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha Creación</th>
                <th>Estado</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DESCRIPCION)</td>
                    <td>@Html.DisplayFor(modelItem => item.FECHA_CREACION)</td>
                    <td>@Html.DisplayFor(modelItem => item.ESTADO_INCIDENCIA.DESCRIPCION_ESTADO_INCIDENCIA)</td>
                    <td>@Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)</td>
                    <td>
                        <a href="@Url.Action("Actualizar", new { id = item.ID_INCIDENCIA })" class="btn @(item.ID_ESTADO_INCIDENCIA == 1 ? "btn-success" : "btn-warning") btn-sm">
                            <i class="fas @(item.ID_ESTADO_INCIDENCIA == 1 ? "fa-check-circle" : "fa-undo-alt") me-2"></i>@(item.ID_ESTADO_INCIDENCIA == 1 ? "Cerrar incidencia" : "Reabrir incidencia")
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>