@model Infraestructure.Model.NOTICIA

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Save", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Crear Noticia</h4>
                        <hr>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_TIPO_NOTICIA, htmlAttributes: new { @class = "form-label" })
                            <div>
                                @Html.DropDownListFor(model => model.ID_TIPO_NOTICIA,
                                    (SelectList)ViewBag.idTipoNoticia,
                                    "Seleccione un autor",
                                    htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TITULO, htmlAttributes: new { @class = "form-label" })
                            <div>
                                @Html.EditorFor(model => model.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TITULO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CONTENIDO, htmlAttributes: new { @class = "form-label" })
                            <div>
                                @Html.EditorFor(model => model.CONTENIDO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CONTENIDO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FECHA_PUBLICACION, htmlAttributes: new { @class = "form-label" })
                            <div>
                                @Html.EditorFor(model => model.FECHA_PUBLICACION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FECHA_PUBLICACION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="btn-group" role="group">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .form-label {
        font-weight: bold;
    }
    .card {
        border: none;
        background-color: #fff;
    }

    h4.card-title {
        font-size: 1.5rem;
    }

    .btn-secondary {
        border: none;
        background-color: transparent;
    }

    .container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-group {
        margin-top: 1rem;
    }



</style>