@model Infraestructure.Model.NOTICIA

@{
    ViewBag.Title = "Modificar Noticias";
}

<style>
    a {
        text-decoration: none;
    }
</style>

<div class="container my-5">
    <h1 class="text-center mb-4">@ViewBag.Title</h1>
    @using (Html.BeginForm("Save", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-8 offset-md-2" }))
    {
        @Html.AntiForgeryToken()
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-center">Editar Noticia</h5>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ID_NOTICIA)
                                </div>
                                <div class="form-group mb-4 position-relative d-flex align-items-center" style="padding-right: 30px;" data-toggle="modal" data-target="#exampleModal">
                                    <label for="ID_TIPO_NOTICIA" style="color: rgb(39, 58, 93)">
                                        <i class="fas fa-plus-square" style="margin-right: 5px"></i> Tipo de Noticia
                                    </label>
                                    @Html.DropDownListFor(model => model.ID_TIPO_NOTICIA, null, htmlAttributes: new { @class = "form-control" })
                                    <a href="#" class="d-flex align-items-center justify-content-center position-absolute end-0 top-50 translate-middle-y text-success" style="right: -20px; margin-bottom: 3px; width: 30px; height: 30px; border-radius: 50%;" onclick="mostrarAdvertencia()">
                                        <span style="font-size: 1.2rem;">  <strong>+</strong></span>
                                    </a>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="TITULO" class="control-label">
                                        <i class="fas fa-heading" style="color: rgb(39, 58, 93);"></i>
                                        Título:
                                    </label>
                                    @Html.EditorFor(model => model.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TITULO, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-4">
                                    <label for="CONTENIDO" class="control-label">
                                        <i class="fas fa-file-alt" style="color: rgb(39, 58, 93);"></i>
                                        Contenido de la Noticia
                                    </label>
                                    @Html.EditorFor(model => model.CONTENIDO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CONTENIDO, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-4">
                                    <label for="FECHA_PUBLICACION" style="color: rgb(39, 58, 93)">
                                        <i class="fas fa-calendar-alt"></i> Fecha de Publicación
                                    </label>
                                    @Html.EditorFor(model => model.FECHA_PUBLICACION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FECHA_PUBLICACION, "", new { @class = "text-danger" })
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <object data="data:application/pdf;base64,@Convert.ToBase64String(Model.DOCUMENTO)" type="application/pdf" width="100%" height="400px">
                                            <p>Tu navegador no soporta PDFs. <a href="data:application/pdf;base64,@Convert.ToBase64String(Model.DOCUMENTO)" download>Descargar PDF</a></p>
                                        </object>
                                        @Html.HiddenFor(model => model.DOCUMENTO)
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="PDF">Seleccionar archivo PDF</label>
                                        <input type="file" name="DOCUMENTO" id="pdfFile" accept=".pdf" />
                                    </div>
                                </div>

                                @*@if (Model.DOCUMENTO != null && Model.DOCUMENTO.Length > 0)
                                {

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <object data="data:application/pdf;base64,@Convert.ToBase64String(Model.DOCUMENTO)" type="application/pdf" width="100%" height="400px">
                                                <p>Tu navegador no soporta PDFs. <a href="data:application/pdf;base64,@Convert.ToBase64String(Model.DOCUMENTO)" download>Descargar PDF</a></p>
                                            </object>
                                            @Html.HiddenFor(model => model.DOCUMENTO)
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="PDF">Seleccionar archivo PDF</label>
                                            <input type="file" name="DOCUMENTO" id="pdfFile" accept=".pdf" />
                                        </div>
                                    </div>
                                }*@

                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                                    <a href="@Url.Action("IndexAdmin", "Noticias")" class="btn btn-danger">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo tipo de noticia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea agregar un nuevo tipo de noticia?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="redirigir()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function redirigir() {
            // Redirige al usuario a la página de Google
            window.location.href = 'https://www.google.com';
        }
    </script>
}
